# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

*.exe
*.csv

credentials.json
*.iss
qrcodes/QR_1070_Larissa_Sabag.png
comanfdo_gerar_qr_code_isolado.txt
teste.py
migrar_alunos.py
QR.xlsx
students.py
qrcodes/QR_1002_Hugo_Brites.png
qrcodes/QR_1003_Miguel_Canas.png
qrcodes/QR_1004_Ana_Lopes.png
qrcodes/QR_1005_Maria_Ins_S.png
qrcodes/QR_1006_Filie_Corte-Real.png
qrcodes/QR_1007_Andr_Tavares.png
qrcodes/QR_1008_Bernardo_Gonalves.png
qrcodes/QR_1009_Lara_Kavaleuskaya.png
qrcodes/QR_1010_Andr_Pio.png
qrcodes/QR_1011_Constana_Rocha.png
qrcodes/QR_1012_Duarte_Ferreira.png
qrcodes/QR_1013_Duarte_Cruz.png
qrcodes/QR_1014_Eduardo_Costa.png
qrcodes/QR_1015_Emlia_Soares.png
qrcodes/QR_1016_Francisca_Marques.png
qrcodes/QR_1017_Francisco_Conceio.png
qrcodes/QR_1018_Gonalo_Reis.png
qrcodes/QR_1019_Gustavo_Neto.png
qrcodes/QR_1020_Dylan_Rodriguez.png
qrcodes/QR_1021_Rafael_Filipe.png
qrcodes/QR_1022_Bernardo_Pinto.png
qrcodes/QR_1023_Joo_Silva.png
qrcodes/QR_1024_Joo_Afonso.png
qrcodes/QR_1025_Jorge_Estima.png
qrcodes/QR_1026_Leonardo_Santos.png
qrcodes/QR_1027_Leonor_Antnio.png
qrcodes/QR_1028_Lus_Ribeiro.png
qrcodes/QR_1029_Martim_Mendes.png
qrcodes/QR_1030_Matilde_Morais.png
qrcodes/QR_1031_Rita_Vasconcelos.png
qrcodes/QR_1032_Rodrigo_Caravela.png
qrcodes/QR_1033_Sara_Pinheiro.png
qrcodes/QR_1034_Simo_Vinhas.png
qrcodes/QR_1035_Thiago_Rodriguez.png
qrcodes/QR_1036_Santiago_Martins.png
qrcodes/QR_1037_Manuel_Pires.png
qrcodes/QR_1038_Kyara_Silva.png
qrcodes/QR_1039_Maria_Sousa.png
qrcodes/QR_1040_Miguel_Mouta.png
qrcodes/QR_1041_Pedro_Canas.png
qrcodes/QR_1042_Pedro_Carvalho.png
qrcodes/QR_1043_Rita_Oliveira.png
qrcodes/QR_1044_Tiago_Pais.png
qrcodes/QR_1045_Xoel_Frankenbach.png
qrcodes/QR_1046_Miguel_Vieira.png
qrcodes/QR_1047_Mia_Chantre.png
qrcodes/QR_1048_Miguel_Brito.png
qrcodes/QR_1049_Afonso_Gonalo_Cruz.png
qrcodes/QR_1050_Bernardo_Faria.png
qrcodes/QR_1051_Gabriel_Jorge.png
qrcodes/QR_1052_Afonso_Cruz.png
qrcodes/QR_1053_Gonalo_Gonalves.png
qrcodes/QR_1054_Gonalo_Silva.png
qrcodes/QR_1055_Joana_Tavares.png
qrcodes/QR_1056_Leonor_Afonso.png
qrcodes/QR_1057_Rita_Inverno.png
qrcodes/QR_1058_Toms_Gamelas.png
qrcodes/QR_1059_Gonalo_Rocha.png
qrcodes/QR_1060_Ana_Gama.png
qrcodes/QR_1061_Camila_Pinto.png
qrcodes/QR_1062_Diogo_Martins.png
qrcodes/QR_1063_Gabriel_Figeiredo.png
qrcodes/QR_1064_Joana_Pio.png
qrcodes/QR_1065_Laura_Roldo.png
qrcodes/QR_1066_Maria_Pires.png
qrcodes/QR_1067_Maria_Venncio.png
qrcodes/QR_1068_Rodrigo_Teixeira.png
qrcodes/QR_1069_Sofia_Ribeiro.png
qrcodes/QR_1070_Larrissa Sabag.jpg
students.py
students.py
students.py
students.py
importar_students.py
students.py
